*{
    margin: 0;
    padding: 0;
}
:root{
    font-style: 62.5%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}
.sidebar{
    display: grid;
    grid-column: 1/2;
    background-color:darkgreen;
    min-height: 100vh;
    position: relative;
}
.sidebar >*{
    display:inline-grid;
    font-family: sans-serif;
    font-weight: bold;
    color: antiquewhite;
    gap: 10px;
}
.dashboard{
    display: inline-block;
}
.dashboard h1{
    display: inline-flex;
    text-align: center;
    font-weight:bolder;
    font-style: normal;
}
.dashboard img{
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
}
.info{
    display: grid;
}
.company-info{
    display: grid;
}
.company-info>*{
    display: grid;
    margin-bottom: 16px;
}
.home{
    display:grid;
    grid-template-columns: min-content max-content;
    align-items: center;
}
.home span{
    display: inline-grid;
    line-height: 35px;
}
.profile,
.messages,
.history,
.tasks,
.communities{
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
}
img{
    width: auto;
    height: auto;
    max-width: 35px;
    max-height: 35px;
    margin-left: 30px;
    margin-right: 15px;
}
.technical{
    display: grid;
}
.technical>*{
    display: grid;
    margin-bottom: 15px;
}
.settings,
.support,
.privacy{
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
}
.header{
    display: grid;
    background-color:darkolivegreen;
    font-family: sans-serif;
    height: 20%;
    grid-column: 2/3;
    height: min-content;
    grid-template-rows: 0.4fr 0.4fr;
    grid-auto-flow: column;
}
.upper{
    display: inline-grid;
    align-items: center;
    grid-template-columns: 3fr repeat(3,1fr);
}
.search-bar img{
    display: grid;
    justify-self: start;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
.notification-bar img{
    display: grid;
    grid-column: 2/3;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    align-items: center;
}
.profile-emoji img{
    display:grid;
    align-items: center;
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
    color: goldenrod;
}
.name{
    display: grid;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 20px;
}
.lower{
    display: inline-grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 3fr;
}
.profile-emoji-b img{
    display: grid;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}
.salutation p{
    display: grid;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
    align-items: center;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
}
.one,
.two,
.three{
    display: grid;
    padding: 8px;
    border-radius: 12px;
    border-color:darkslateblue;
    font-family: monospace;
    font-weight: bold;
    background-color: darkturquoise;
    color: black;
}
.three{
    margin-right: 15px;
}