*{
    margin: 0;
    padding: 0;
}
:root{
    font-style: 62.5%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}
.sidebar{
    display: grid;
    grid-column: 1/2;
    background-color: blue;
    min-height: 100vh;
}
.sidebar >*{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    color: antiquewhite;
}
img{
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 30px;
    margin-left: 30px;
    margin-right: 15px;
}
.header{
    display: grid;
}
.upper{
    display: grid;
    grid-column: 1fr 5fr 1fr 1fr 1fr;
    grid-template-columns: 2/3;

}
.lower{
    display: grid;
    grid-column: 1fr 5fr 1fr 1fr 1fr;
    grid-template-columns: 1/6;
}
.search-bar{
    display: grid;
    grid-column: 2/3;
}
.notification-bar {
    display: inline-grid;
    grid-column: 2/3;
}
.profile-emoji{
    display: grid;
    grid-column: 2/3;
}
.name{
    display: grid;
    grid-column: 2/3;
}
.profile-emoji-b{
    display: grid;
    grid-column: 2/3;
}
.salutation{
    display: grid;
    grid-column: 2/3;
}
.buttons{
    display: grid;
    grid-column: 2/3;
}